<!DOCTYPE html>
<html>
  <head>
    <title>nanyain.herokuapps.com</title>
      <link href="/stylesheets/assets/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
      <link href="/stylesheets/assets/bootstrap/css/bootstrap-min.css" type="text/css" rel="stylesheet">
      <link href="/stylesheets/assets/css/bootstrap-social.css" type="text/css" rel="stylesheet">
      <link href="/stylesheets/assets/css/font-awesome.css" type="text/css" rel="stylesheet">
     <body>
       <div class="jumbotron">
            <h1>nanyain.herokuapps.com</h1>
       </div>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tag/search">Search</a>
            </li>
          </ul>
        </div>
<div class="card-block">
  <div class="card-block">
