<!DOCTYPE html>
<html>
  <head>
    <title>nanyain.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <fieldset>
      <form action="/question/update/<%= data.id %>" method="post">
        <table width="50%">
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><select  name="user_id"><option value="<%=data.user_id%>"><%=data.User.name%></option>
            </select></td>
          </tr>
          <tr>
            <td>Question</td>
            <td>:</td>
            <td><input type="text" name="question" value="<%=data.question%>" size="40"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><button type="submit">Submit Question</button></td>
          </tr>
        </table>
      </form>
    </fieldset>
  </body>
</html>
