<%- include ../header.ejs %>
<div class="card-block">
    <fieldset>
      <form action="/question/submit" method="post">
        <table width="100%">
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><select  name="user_id">
              <% list.forEach((row)=>{%>
              <option value="<%=row.id%>"><%=row.name%></option>
              <% }) %>
            </select></td>
          </tr>
          <tr>
            <td>Question</td>
            <td>:</td>
            <td><textarea name="question" rows="8" cols="80"></textarea></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><button type="submit">Submit Question</button></td>
          </tr>
        </table>
      </form>
    </fieldset>
  </div>
<%- include ../footer.ejs %>
